Django==4.2.*
django-cms==3.11.*
django-extensions==3.2.*
#django-ckeditor==6.7.1
django-classy-tags
django-treebeard==4.7.*
django-filer==3.1.*
django-mptt==0.16.*
django-sekizai==4.1.*
djangocms-admin-style==3.3.*
djangocms-file==3.0.*
djangocms-link==3.1.*
djangocms-picture==4.1.*
djangocms-snippet==3.1.*
#djangocms-text-ckeditor==5.1.5
djangocms-text==0.2.*
easy-thumbnails==2.8.*
Pillow==10.4.*

# django-formtools==2.4.1
# django-js-asset==2.1.0
# django-polymorphic==3.1.0
# djangocms-attributes-field==3.0.0
# djangocms-googlemap==2.1.1
# djangocms-video==3.0.0
# html5lib==1.1
# lxml==4.9.3
# packaging==23.2
# pytz==2023.3.post1
# reportlab==4.0.7
# six==1.16.0
# sqlparse==0.4.4
# svglib==1.5.1
# tinycss2==1.2.1
# typing_extensions==4.8.0
# webencodings==0.5.1
