Django==4.2.*
django-cms==3.11.*
django-extensions
#django-ckeditor
django-classy-tags
django-treebeard
django-filer
django-mptt
django-sekizai
djangocms-admin-style
djangocms-file
djangocms-link
djangocms-picture
djangocms-snippet
#djangocms-text-ckeditor
djangocms-text
easy-thumbnails
Pillow

# django-formtools==2.4.1
# django-js-asset==2.1.0
# django-polymorphic==3.1.0
# djangocms-attributes-field==3.0.0
# djangocms-googlemap==2.1.1
# djangocms-video==3.0.0
# html5lib==1.1
# lxml==4.9.3
# packaging==23.2
# pytz==2023.3.post1
# reportlab==4.0.7
# six==1.16.0
# sqlparse==0.4.4
# svglib==1.5.1
# tinycss2==1.2.1
# typing_extensions==4.8.0
# webencodings==0.5.1
