{% extends "pwn_event/base.html" %}
{% load i18n %}

{% block bodyclass %}list-events{% endblock %}

{% block events_content %}

    <h2 class="section-title section-title-centered">
      <span class="before"></span>
      <span class="center">liste des événements à venir</span>
      <span class="after"></span>
    </h2>

    <div class="clear"></div>
    
    <div class="upcoming-events grid event-grid">
    {% for event in events %}
      <article class="event grid-item col">
        <div class="event-inner">
          <a href="{{ event.get_absolute_url }}" class="link-overlay"></a>
          <div class="thumb" style="background-image: url('{{ event.image.url }}')">
            <span class="date">
              <span class="day">{{ event.date|date:"d" }}</span>
              <span class="month">{{ event.date|date:"M" }}</span>
              <span class="year">{{ event.date|date:"Y" }}</span>
            </span>

          </div>
          <div class="event-description">
            {% for tag in event.tags.all %}
                <span class="event-tag">[{{ tag.name }}]</span>
            {% endfor %}

            <h3 class="event-name">
              {{ event.title | truncatechars_html:50 }}
            </h3>
          </div>
        </div>
      </article>

      {% empty %}
          <p>Pas d'événement pour le moment :(</p>
      {% endfor %}
    </div>
    
    <div class="clear"></div>

    <h2 class="section-title section-title-centered">
      <span class="before"></span>
      <span class="center">liste des événements passés</span>
      <span class="after"></span>
    </h2>

    <div class="clear"></div>

    <div class="upcoming-events grid event-grid">
    {%  for season in past_seasons %}
    <h3>{{ season }}</h3>
    {% for event in season.events.all reversed %}
      <article class="event grid-item col">
        <div class="event-inner">
          <a href="{{ event.get_absolute_url }}" class="link-overlay"></a>
          <div class="thumb" style="background-image: url('{{ event.image.url }}')">
            <span class="date">
              <span class="day">{{ event.date|date:"d" }}</span>
              <span class="month">{{ event.date|date:"M" }}</span>
              <span class="year">{{ event.date|date:"Y" }}</span>
            </span>

          </div>
          <div class="event-description">
            {% for tag in event.tags.all %}
                <a href="{{ tag.get_absolute_url }}" class="event-tag">[{{ tag.name }}]</a>
            {% endfor %}

            <h3 class="event-name">
              {{ event.title | truncatechars_html:50 }}
            </h3>
          </div>
        </div>
      </article>

      {% empty %}
          <p>Pas d'événement pour le moment :(</p>
      {% endfor %}
      {% endfor %}
    </div>
    <div class="clear"></div>
{% endblock %}
