{% extends "pwn_event/base.html" %}
{% load i18n %}

{% block bodyclass %}list-events{% endblock %}

{% block events_content %}

    {# --- ÉVÉNEMENTS À VENIR --- #}
    <h2 class="section-title section-title-centered">
      <span class="before"></span>
      <span class="center">liste des événements à venir</span>
      <span class="after"></span>
    </h2>

    <div class="clear"></div>
    
    <div class="upcoming-events grid event-grid">
        {% for event in events %}
            {% include "pwn_event/includes/event_list_item.html" %}
        {% empty %}
            <p>Pas d'événement pour le moment :(</p>
        {% endfor %}
    </div>
    
    <div class="clear"></div>


    {# --- ÉVÉNEMENTS PASSÉS --- #}
    <h2 class="section-title section-title-centered">
      <span class="before"></span>
      <span class="center">liste des événements passés</span>
      <span class="after"></span>
    </h2>

    <div class="clear"></div>


    {%  for season in past_seasons %}
        <div class="past-events grid event-grid">
        <h3 class="section-title section-title-centered">{{ season }}</h3>

        {% for event in season.events.all %}
            {% if event.is_passed %}
            {% include "pwn_event/includes/event_list_item.html" %}
            {% endif %}
        {% empty %}
            <p>Pas d'événement pour le moment :(</p>
        {% endfor %}
        </div>
    {% endfor %}

    <div class="clear"></div>
{% endblock %}
