{% load i18n %}

{% comment %}
champs dispo :
    {% for place in place_list %}
        {{ place.image }} :: <img src="{{ place.image.url }}" />
        {{ place.description }}
        {{ place.address }}
        {{ place.address2 }}
        {{ place.zip }}
        {{ place.town }}
        {{ place.url }}
    {% endfor %}
{% endcomment %}

{% block pwn_event_content %}
    <h2>{% trans "Place List" %}</h2>

    <ul>
        <li>
            <a href="{% url "pwn_event:place_list" %}">{% trans "All places" %}</a>
        </li>

        {% for place in place_list %}
        <li>
            <a href='{{ place.get_absolute_url }}'>
                <img src="{{ place.image.url }}" />
                {{ place.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}