{% load i18n %}

{% comment %}
champs dispo :
    {% for speaker in speaker_list %}
        {{ speaker.image }} :: <img src="{{ speaker.image.url }}" />
        {{ speaker.last_name }}
        {{ speaker.first_Name }}
        {{ speaker.biography }}
        {{ speaker.url }}
    {% endfor %}
{% endcomment %}

{% block pwn_event_content %}
    <h2>{% trans "speaker List" %}</h2>

    <ul>
        <li>
            <a href="{% url "pwn_event:speaker_list" %}">{% trans "All speakers" %}</a>
        </li>

        {% for speaker in speaker_list %}
        <li>
            <a href='{{ speaker.get_absolute_url }}'>
                {% if speaker.image %}<img src="{{ speaker.image.url }}" />{% endif %}
                {{ speaker }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}