{% load i18n %}

{% comment %}
champs dispo :
    {% for speaker in speaker_list %}
        {{ speaker.image }} :: <img src="{{ speaker.image.url }}" />
        {{ speaker.last_name }}
        {{ speaker.first_Name }}
        {{ speaker.biography }}
        {{ speaker.url }}
    {% endfor %}
{% endcomment %}


{% block pwn_event_content %}
    <h2>{% trans "Speaker"  %}: {{ speaker }}</h2>

    <ul>
        <li>{{ speaker.image }} :: <img src="{{ speaker.image.url }}" width="200px"/></li>
        <li>{{ speaker.last_name }}</li>
        <li>{{ speaker.first_Name }}</li>
        <li>{{ speaker.biography|safe }}</li>
        <li>{{ speaker.url }}</li>
    </ul>

    <h3>{% trans "Events by this speaker" %}:</h3>
    <ul>
    {% for event in event_list %}
        <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
    {% empty %}
        <li>{% trans "Sorry, no events in this speaker." %}</li>
    {% endfor %}
    </ul>

    {% include "pwn_event/_paginator.html" %}
{% endblock %}

