{% extends "layout.html" %}
{% load cms_tags i18n pwn_event %}

{% block bodyclass %}home{% endblock %}

{% block container %}

    <section id="home-next-events">
      <div class="container">
        <h2 class="section-title section-title-centered">
          <span class="before"></span>
          <span class="center">événements à venir</span>
          <span class="after"></span>
        </h2>
        <div class="clear"></div>
        <div class="grid event-grid">
          {# {% placeholder "Liste events" %}#}
          {% get_last_events 3 %}


          <article class="event grid-item col event-suggest">
            <div class="event-inner">
              <a href="/contact" class="link-overlay"></a>
              <div class="icon">
                +
              </div>
              <div class="event-description">
                <h3 class="event-name">
                  Proposer un événement
                </h3>
              </div>
            </div>
          </article>         

        <div class="clear"></div>

        <h2 class="section-title section-title-centered" style="margin-top: 50px;">
          <span class="before"></span>
          <span class="center">Prochaine saison !!</span>
          <span class="after"></span>
        </h2>
        <div class="clear"></div>
        {% get_futur_season_events 3 %}
        </div>

        <div class="align-center">
          <a href="/evenements" class="button button-white">Voir tous les événements</a><br />
          <a href="https://calendar.google.com/calendar/embed?src=association.pwn%40gmail.com&ctz=Europe%2FParis" class="button button-white" target="_blank">Le calendrier sur Google Agenda</a>
        </div>
      </div>

    </section>

    <div class="clear"></div>

    <section class="block-text section-white">
      <div class="container">
        {% placeholder "content" %}
        <div class="align-center">
          <a href="/presentation" class="button button-green">En savoir plus</a>
        </div>
      </div>
    </section>

{% endblock %}
