    <noscript>
        <div class="alert warning">
            You seem to have Javascript disabled. This website needs javascript in order to function properly!
        </div>
    </noscript>

	<!--[if lte IE 8]>
     <div class="alert error">
      Vous utilisez actuellement un navigateur <strong>obsolète</strong>.<br />
      Afin d'améliorer votre expérience sur ce site, merci de mettre à jour votre navigateur :
      <ul>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Mettre à jour Internet Explorer</a></li>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Télécharger le navigateur Chrome</a></li>
        <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Télécharger le navigateur Firefox</a></li>
      </ul>
			</div>
  <![endif]-->