{% load i18n cms_tags sekizai_tags thumbnail %}

<article class="event grid-item col">
    <div class="event-inner">
      <a href="{{ event.get_absolute_url }}" class="link-overlay"></a>
      <div class="thumb" style="background-image: url('{{ event.image.url }}')">
        <span class="date">
          <span class="day">{{ event.date|date:"d" }}</span>
          <span class="month">{{ event.date|date:"M" }}</span>
          <span class="year">{{ event.date|date:"Y" }}</span>
        </span>

      </div>
      <div class="event-description">
        {% for tag in event.tags.all %}
            <span class="event-tag">[{{ tag.name }}]</span>
        {% endfor %}

        <h3 class="event-name">
          {{ event.title | truncatechars_html:50 }}
        </h3>
        {% if not event.is_publish %}<span class="not-publish">!! preview !!</span>{% endif %}
      </div>
    </div>
</article>